@import url('/site1/home/style.css');

.background{
    z-index: -1;
    background-color: aquamarine;
}

.parallax{
    background-image: url(spongebob.jpg);
}

.divi{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}

.textdiv{
    margin: 0;
    padding: 1rem 1rem;
    border-radius: 10pt;
    background-color: rgba(5, 5, 83, 0.645);
    box-shadow: 3px 3px 15px black;
}

.ttitle{
    color: blue;
    font-family: 'Lato', serif;
    font-size: 30pt;
    font-weight: 700;
    margin-bottom: .5rem;
    background-color: rgba(9, 9, 104, 0.556);
    border-radius: 10pt;
    padding: .5rem;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sign{
    width: clamp(50px, 5vw, 120px);
    height: auto;
    object-fit: contain;
    margin: .5rem 0 .5rem 1rem;
}

.intext{
    color: rgb(9, 162, 9);
    font-family: 'Lato', serif;
    font-size: 14pt;
    margin: 0;
    background-color: rgb(5, 5, 83);
    border-radius: 10pt;
    padding: 1rem;
}

p{
    font-weight: 600;
    margin: .3rem;
    text-align: start;
}

ul{
    margin: .5rem;
    text-align: start;
    color: rgb(14, 193, 14);
}

span{
    font-weight: 700;
    color: rgb(12, 196, 12);
}

.imgsponge{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 50vh;
    object-fit: contain;
}

.tdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
}

.imgdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

@media screen and (max-width: 640px){
    .sign{
        opacity: 0;
    }

    .imgdiv{
        display: none;
        visibility: hidden;
        position: absolute;
    }
}