@import url('/home/style.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

header{
    margin: 0;
}

.parallax{
    background-image: url('Telephone.jfif');
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contact{
    width: 50%;
    max-width: 500px;
    border-radius: 10pt;
    background-color: rgba(0, 0, 0, 0.401);
    box-shadow: 5px 3px 30px black;
    padding: 2vw;
}

.head{
    font-family: 'Poppins', serif;  
    font-size: clamp(1rem, 4vw, 2rem);
    font-weight: 600;
    color:aliceblue;
    background-color: rgba(0, 0, 0, 0.353);
    border-radius: 10pt;
    padding: .5rem;
}

.info{
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
    justify-content: center;
}

.subtitle{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

p{
    font-size: clamp(.5rem, 4vw, 1rem);
    margin: .5rem;
    color: aliceblue;
    font-family: "Poppins", serif;
    word-break: break-word;
}

.icon{
    width: clamp(30px, 5vw, 50px);
    margin: 0 1rem 0 0;
}

.information{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: .3rem;
}

hr{
    margin-bottom: 2rem;
}

@media (max-width: 600px) {
    .contact {
        width: 80%;
        padding: 5vw;
    }
}